*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

header{
    height: 120px;
    position: static;
    background-color: white;
}

body{
    background-color: rgb(242, 242, 242);
}

#logo{
    width: 80px;
    margin: 20px 0 20px 30px;
    vertical-align: middle;
}

#logo-text{
    font-size: 65px;
    vertical-align: middle;
    font-weight: bolder;
}

.button-container{
    width: 1000px;
    height: 65px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button{
    line-height: 2;
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bolder;
}

#button-1{
    background-color: rgb(0, 166, 255);
    color: white;
    margin-left: 55px;
}

#button-2{
    background-color: white;
    color: rgb(212, 212, 212);
    margin-left: 5px;
    border-color: rgb(212, 212, 212);
}

.list-container{
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    margin-top: 3px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 55px;
}

.list-top{
    line-height: 1.5;
}

.list-center{
    line-height: 1.5;
    margin-top: 35px;
}

.list-bot{
    line-height: 1.5;
    margin-top: 35px;
}
.list-title{
    font-size: 30px;
    font-weight: bolder;
}

.sub-title{
    font-size: 25px;
    margin-left: 10px;
}

#black-arrow{
    width: 25px;
}

#check{
    width: 25px;
    vertical-align: middle;
}

#cross{
    width: 25px;
    vertical-align: middle;
}

.category{
    padding: 8px;
    border-radius: 15px;
    font-size: 12px;
}

.editorial{
    background-color: rgb(0, 166, 255);
    color: white;
    font-size: 13px;
}

#Q1-Goals{
    background-color: blueviolet;
    color: white;
    font-size: 13px;
}

#recruiting{
    background-color: rgb(69, 139, 86);
    color: white;
}

#mobile{
    background-color: orange;
    color: white;
}

#website{
    background-color: rgb(189, 53, 112);
    color: white;
}

#sales{
    background-color: rgb(132, 185, 53);
    color: white;
}
