*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 120px;
}

#logo{
    width: 80px;
    margin: 20px 0 20px 20px;
    vertical-align: middle;
}

#logo-text{
    font-size: 65px;
    vertical-align: middle;
}